<!DOCTYPE html>
<html>
<head>
	<title>How was your bike?</title>
	<link rel="stylesheet" type="text/css" href="reset.css">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
<body class="make-it-middle">

<h1 class="text-center">Hope you enjoyed your bike with us!</h1>
<br><center>
<h1>Was anything broken?</h1>
<div class="checkbox-inline">
  <label>
    <input type="checkbox"> Tires
  </label>
</div>
<div class="checkbox-inline">
  <label>
    <input type="checkbox"> Seat
  </label>
</div>
<div class="checkbox-inline">
  <label>
    <input type="checkbox"> Chain
  </label>
</div>
<div class="checkbox-inline">
  <label>
    <input type="checkbox"> Brakes
  </label>
</div>
<div class="checkbox-inline">
  <label>
    <input type="checkbox"> Handlebar
  </label>
</div>
<br>
<br>
<a type="button" class="btn btn-danger btn-block" href="http://127.0.0.1:5000/"><img src="/static/images/UPBS Logo 3B.png" width="150" height = "80" ></a>
</center>


</body>
</html>