<!DOCTYPE html>
<html>
<head>
	<title>Getting people to places</title>
</head>
<body>
	<div>
		<h1><strong>What is UP Bike Share</strong></h1>
		<p>UP Bike Share is a student advocacy group that empowers communities through bikes.</p>
		<p>This is {{x}}'s profile</p>
		<h1>Pokemon in the Philippines</h1>
		<ul>
			{% for pok in pokemon %}
				<li>{{ pok[0] }} (level {{ pok[1] }}): {{ pok[2] }}</li>
			{% endfor %}
		</ul>
		<a href="/">back to the thing</a>
		<a href="/youthhack">youth hack edition</a>
	</div>
</body>
</html>