<!DOCTYPE html>
<html>
<head>
	<title>Log In to UP Bike Share</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

  </head>
<body><center>

<h1>Log In to UP Bike Share</h1>

	<div>
		Student Number:<br>
  		<input type="text" name="student"><br>
  	</div>
  	<div>
  	Password:<br>
  	<input type="text" name="password"><br>
  	</div>
  	<br>
	<br>
	<a type="button" class="btn btn-danger btn-block" href="http://127.0.0.1:5000/">Log In</a>
</center>
</body>
</html>


